<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/styles.css'/>
</head>
<body>

<h1>Zápis neproběhl, zvolená doba je obsazena</h1>
    <form action="/" method="POST">
        <button type="submit">OUKEJ, ZNOVU</button>
    </form>
</body>
</html>