<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/styles.css'/>
</head>
<body>

<h1>Formulář pro zápis na autoservis</h1>
    <form action="/" method="POST">
        <div>
            <label for="name">Jméno a příjmení</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="time">Čas</label>
            <select name="time" id="time">
                <option value="9:00">9:00</option>
                <option value="9:30">9:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="13:00">13:00</option>
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option>
                <option value="14:30">14:30</option>
                <option value="15:00">15:00</option>
                <option value="15:30">15:30</option>
                <option value="16:00">16:00</option>
                <option value="16:30">16:30</option>
                <option value="17:00">17:00</option>
                <option value="17:30">17:30</option>
            </select>
        </div>
        <div>
            <label for="typeOfProblem">Typ Závady</label>
            <select name="typeOfProblem" id="typeOfProblem">
                <option value="Brzdy">Brzdy</option>
                <option value="Řízení">Řízení</option>
                <option value="Výfuk">Výfuk</option>
                <option value="Karoserie">Karoserie</option>
            </select>
        </div>
        <div>
            <label for="spz">SPZ</label>
            <input type="text" id="spz" name="spz" required>
        </div>
        <div>
            <label for="phone">Telefon</label>
            <input type="text" id="phone" name="phone" required>
        </div>
        <div>
            <label for="date">Datum:</label>
            <input type="date" id="date" name="date">
        </div>
        <button type="submit">Zapsat se</button>
    </form>
</body>
</html>