<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/styles.css'/>
</head>
<body>

<h1>Zápis proběhl úspěšně</h1>
    <form action="/" method="POST">
        <button type="submit">OUKEJ</button>
    </form>
</body>
</html>